* {
  padding: 0px;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0;
}

.placar {
  width: 56.25rem;
  height: 31.25rem;
  background: #2e2e36;
  border-radius: 0.5rem;
  margin: 3.1rem auto;
}

.metade {
  display: inline-block;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.timeA {
  color: white;
  font-size: 20px;
  padding: 20px 0;
  box-sizing: border-box;
  height: 60px;
  border-right: 1px solid #da0175;
}

.timeB {
  color: white;
  font-size: 20px;
  padding: 20px 0;
  box-sizing: border-box;
  height: 60px;
}

.content {
  box-sizing: border-box;
  height: 360px;
  border-top: 1px solid #da0175;
  border-bottom: 1px solid #da0175;
  padding: 105px 0;
  font-size: 0;
  color: white;
}

.sets-group {
  box-sizing: border-box;
  height: 80px;
  font-size: 0px;
  color: white;
  padding: 20px 0;
}

.score-a {
  border-right: 1px solid #da0175;
  font-size: 150px;
  cursor: pointer;
  user-select: none;
}

.score-b {
  font-size: 150px;
  cursor: pointer;
  user-select: none;
}

.set-a {
  border-right: 1px solid #da0175;
  font-size: 40px;
  user-select: none;
}

.set-b {
  border-right: 1px solid #da0175;
  font-size: 40px;
  user-select: none;
}

#button {
  text-align: center;
}

.sendButton {
  text-align: center;
  padding: 1.5rem 1.5rem 1.5rem;
  margin: 2rem 0 4.5rem;
  background-color: #2e2e36;
  border-radius: 8px;
  font-size: 40px;
  color: white;
  user-select: none;
  transition: 0.3s;
  font: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.sendButton:hover {
  cursor: pointer;
  background-color: #4f4f61;
}

#marca {
  text-align: center;
}
